{{template "base" .}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Apartman</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/static/images/apartment.jpg" height=90% width=90%>
        </div>
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pulvinar sit amet mi eget consectetur. Duis id imperdiet nibh, ac ultrices ligula. Donec sit amet accumsan dolor, ut imperdiet sapien. Nunc euismod accumsan ultricies. Ut nec finibus odio. In a magna semper, pellentesque nulla consequat, pellentesque neque. Proin fringilla ipsum sit amet orci consectetur, sodales porta lorem lobortis. Donec non ipsum in massa dapibus laoreet. Nulla feugiat a ante et aliquam.

Nunc eget tincidunt dolor. Suspendisse tempus, quam sit amet ultrices eleifend, neque libero condimentum lorem, sed congue urna diam vitae massa. Mauris pretium ipsum a arcu tempor, cursus egestas purus placerat. Etiam ullamcorper, mi sit amet accumsan congue, leo massa facilisis ex, non dignissim tortor urna ac enim. Donec suscipit eget nisi nec maximus. In ut magna cursus, feugiat magna id, pretium enim. In sed pretium tellus. Phasellus ornare tempor turpis vitae tempor. Suspendisse potenti. Donec sed ante id enim iaculis vehicula. </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-success" id="check-btn" href="#!">Provjerite dostupnost apartmana</a>
        </div>
    </div>
</div>
  
{{end}}
{{define "js"}}
<script>
let myEl= document.getElementById("check-btn");
myEl.addEventListener("click",function(){
    let html=` 
    <form id= "check-availability-form" action= "" method="post" novalidate class="needs-validation">
        <div class="form-group  row">
            <div class="col">
                <div class="form-group row" id="reservation-dates-modal">
                    <div class="col">
                        <input disabled autocomplete="off" required class="form-control" type="text" id="start" placeholder="Datum dolaska">
                    </div>
                    <div class="col">
                        <input disabled autocomplete="off" required class="form-control" type="text" id="end" placeholder="Datum odlaska">
                    </div>
                </div>
            </div>
        </div>
    </form>`;
    let dojava=Prompt();
    dojava.custom({msg:html,title:"Naslov",});
});
</script>
{{end}}